<!DOCTYPE html>
<html>
  <head>
    <title>Mystery Word Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header id="header">
    </header>
    <main>

    </main>
  </body>
</html>
