<!DOCTYPE html>
<html>
  <head>
    <title>Mystery Word Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="home-body">
    <header id="header">
      <h1>Welcome to the Mystery Word Game</h1>
    </header>
    <main>
      <form action="/home" method="POST">
        <label for="level">Select Difficulty Level:</label>
        <br>
        <select name="level">
          <option value="easy">Easy mode - Short Words</option>
          <option value="normal" selected>Normal mode - Medium Words</option>
          <option value="hard">Hard mode - Long Words</option>
        </select>
        <br>
        <input type="text" name="name" placeholder="Enter your first name to begin"/>
        <button type="submit" name="start-button">Let's Play</button>
      </form>
    </main>
  </body>
</html>
