<!DOCTYPE html>
<html>
  <head>
    <title>Mystery Word Game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="play-body">
    <header id="header">
      <h1>Mystery Word</h1>
      <h2>Welcome, {{player.name}}</h2>
      <h3>Enter Your Letter Guess Below</h3>
    </header>
    <main>
      <br>
      <h1 id="hidden-word">{{player.hiddenWord}}</h1>
      {{^player.end}}
      <form action="/play" method="POST">
        <label for="letter">Guess A Letter: </label>
        <input name="letter" type="text"/>
        <button type="submit" name="guess-button">Guess!</button>
      </form>
      {{/player.end}}
      <h2>You have {{player.numGuesses}} attempts left.</h2>
      <h2>Letter Guessed So Far:
        {{#player.letters}}
        <span>{{.}} </span>
        {{/player.letters}}
      </h2>
      <h1>{{message}}</h1>
      {{#player.end}}
      <h1>The Mystery Word: {{player.word}}</h1>
      {{/player.end}}
    </main>
  </body>
</html>
