<!DOCTYPE html>
<html>
  <head>
    <title>Mystery Word You Win!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="win-body">
    <header id="header">
      <h1>You Win!!!!</h1>
    </header>
    <main>
      <h2>The Word Was: <span>{{player.word}}</span></h2>
      <form action="/win" method="POST">
        <button type="submit" name="restart">Restart</button>
      </form>
    </main>
  </body>
</html>
