body {
  background-color: #eff5ff;
  font-family: sans-serif;
}

.home-body input {
  width: 200px;
  height: 30px;
}

button {
  width: 100px;
  height: 30px;
  background-color: #0000ff;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}

button:hover {
  background-color: #ffffff;
  color: #0000ff;
  border: 1px solid #0000ff;
}

#hidden-word {
  text-transform: capitalize;
  font-size: 50px;
}

.play-body input {
  width: 30px;
  height: 30px;
}

span {
  text-transform: capitalize;
  color: #ff0000;
}

select {
  margin: 10px;
  height: 30px;
}

#hidden-word {
  width: min-content;
  display: inline;
  padding: 10px;
  border: 5px solid #4286f4;
}

.play-body form {
  margin: 50px 0;
}
